/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env host
.env.backup
.env.example
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Journal Module.md
Laravel CMS setup.md
Types Module.md
PHP code.txt
projects.sql
portfolio-cms.sql